@import url('skills.css');
@import url('timeline.css');
@font-face {
    font-family: 'social-icons';
    src:    url('../fonts/social-icons.eot?jzm2oy');
    src:    url('../fonts/social-icons.eot?jzm2oy#iefix') format('embedded-opentype'),
        url('../fonts/social-icons.ttf?jzm2oy') format('truetype'),
        url('../fonts/social-icons.woff?jzm2oy') format('woff'),
        url('../fonts/social-icons.svg?jzm2oy#social-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, ul, ol, h1,h2,h3,h4,h5,h6, figure, img{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}
li{
	list-style: none;
}
header{
    background-color: #FFFFFF;
	padding: 1.5em 0;
	width: 100%;
	position: fixed;
	z-index: 99;
    transition: all .5s ease;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.header-border{
    border-bottom: 1px solid #E1E1E1;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
header nav{
	margin: 0 auto;
}
ul.topnav {
  list-style-type: none;
  overflow: hidden;
}

ul.topnav li {float: left; margin: 0 2em;}

ul.topnav li a {
    display: inline-block;
    color: #808080;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
}

ul.topnav li a:hover {color: #4db6ac;}

ul.topnav li.icon {display: none;}

#container-me{
	padding: 12em 1em 4em;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#container-me .avatar-section{
	width: 95%;
	margin: 0 auto;
}
#container-me .avatar-section figure {
	border: 1px dashed #BBBBBB;
	border-radius: 50%;
	padding: 20px;
	width: 247px;
	margin: 0 auto;
}
#container-me .avatar-section figure img{
	border-radius: 50%;
	width: 247px;
}
#container-me .avatar-section .social-icons{
	font-family: 'social-icons', sans-serif;
	font-size: 1.7em;
	margin: 1em auto .5em;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-direction: row;
	flex-direction: row;
}
#container-me .avatar-section .social-icons a{
	color: #2F2F2F;
	margin: 0 .5em;
	text-decoration: none;
}
#container-me .avatar-section .social-icons a span{
	border: 1px dotted #A9A9A9;
	border-radius: 50%;
	padding: 10px;
}
#container-me .avatar-section .social-icons .icon-facebook:before{
	content: "\ea90";
}
#container-me .avatar-section .social-icons .icon-facebook{
	color: #000000;
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
}
#container-me .avatar-section .social-icons .icon-facebook:hover{
	background-color: #3B5998;
    color: #FFFFFF;
}
#container-me .avatar-section .social-icons .icon-twitter:before{
	content: "\ea96";
}
#container-me .avatar-section .social-icons .icon-twitter{
    color: #000000;
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
}
#container-me .avatar-section .social-icons .icon-twitter:hover{
	background-color: #659FCB;
    color: #FFFFFF;
}
#container-me .avatar-section .social-icons .icon-github:before{
	content: "\eab0";
}
#container-me .avatar-section .social-icons .icon-github{
	color: #000000;
}
#container-me .avatar-section .social-icons .icon-github:hover{
	background-color: #323131;
	color: #FFFFFF;
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
}
#container-me .avatar-section .social-icons .icon-g:before{
	content: "\ea8b";
}
#container-me .avatar-section .social-icons .icon-g{
	color: #000000;
}
#container-me .avatar-section .social-icons .icon-g:hover{
	background-color: #DD5044;
	color: #FFFFFF;
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
}
#container-me .avatar-section .social-icons .icon-instagram:before{
	content: "\ea92";
    display: none;
}
#container-me .avatar-section .social-icons .icon-instagram{
	background-color: #8E378B;
	color: #FFFFFF;
    display: none;
}
#container-me .description-section{
	width: 50%;
	margin: 0 auto;
	margin-top: 2em;
	text-align: center;
}
#container-me .description-section h1{
	color: #444444;
	font-size: 3.5em;
	font-weight: normal;
}
#container-me .description-section p{
	color: #444444;
	font-size: 1.4em;
	font-weight: lighter;
}
#container-me .view-more-link{
	margin: 4em auto 2em;
	text-align: center;
}
#container-me .view-more-link a{
	border: 1px solid #A9A9A9;
    color: #000000;
	border-radius: 25px;
	padding: 1em;
	text-decoration: none;
    transition: background-color .5s ease;
}
#container-me .view-more-link a:hover{
	background-color: #4db6ac;
	color: #fff;
}

#about-me{
	background-color: #1976d2;
	padding: 5em 1em 4em;
}
#about-me h2{
	color: #FFFFFF;
	font-size: 5em;
	font-weight: lighter;
	text-align: center;
}
#about-me p{
	color: #fff;
	font-size: 1.7em;
	font-weight: lighter;
	text-align: center;
	margin: 2em auto;
	width: 60%;
}
.skills-container{
	margin: 2em auto;
	width: 50%;
}
#skills{
	background-color: #EEEEEE;
	padding: 5em 1em 4em;
}
#skills h2{
	color: #3D3D3D;
	font-size: 5em;
	font-weight: lighter;
	text-align: center;
}
#portfolio{
	background-color: #009688;
	padding: 5em 1em 4em;
}
#portfolio h2{
	color: #FFFFFF;
	font-size: 5em;
	font-weight: lighter;
	text-align: center;
}
#portfolio p{
	color: #fff;
	font-size: 1.7em;
	font-weight: lighter;
	text-align: center;
	margin: 2em auto;
	width: 60%;
}
#portfolio .jobs{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#portfolio .jobs .job{
    text-align: center;
    width: 30%;
    margin-bottom: 2em;
}
#portfolio .jobs .job figure{
    position: relative;
    margin: 0;
    overflow: hidden;
}
#portfolio .jobs .job figure img{
    width: 100%;
}
#portfolio .jobs .job figure:hover > figcaption{
    bottom: 4px;
}
#portfolio .jobs .job figure figcaption{
    background-color: rgba(0,0,0,.7);
    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: -48px;
    text-align: center;
    width: 100%;
    transition: bottom .2s ease;
}
#portfolio .jobs .job figure figcaption a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}

.timeline-section{
  background-color: #EEEEEE;
  padding: 5em 1em 4em;
}

.timeline-section > h2{
	color: #000000;
	font-size: 5em;
	font-weight: lighter;
	text-align: center;
}

footer{
	color: #FFFFFF;
	background-color: #474D5D;
	text-align: center;
	margin: auto;
  	padding: 5em 1em 4em;
}
footer p{
	margin: 0;
	vertical-align: middle;
}

/*
    Helpers class
*/
.bold-text{
    font-weight: bold !important;
}
@media screen and (max-width: 1600px) {
    .cd-container{
        width: 70%;
    }
}
@media screen and (max-width: 1400px) {
    #portfolio .jobs{
        flex-wrap: wrap;
        width: 95%;
    }
    #portfolio .jobs .job{
        margin-bottom: 1em;
        width: 48%;
    }
}
@media screen and (max-width: 1300px) {
    .cd-container{
        margin-top: 0 !important;
        width: 90%;
    }
    .skills-container, #about-me p, #container-me .description-section, #portfolio p{
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    #container-me .avatar-section figure,
    #container-me .avatar-section figure img{
        width: 180px;
    }
    #skills, #about-me, #container-me, #portfolio, #experience{
        padding: 2em 1em 1em;
    }
    .skills-container, #about-me p, #container-me .description-section, #portfolio p{
        margin: 1em auto;
        width: 95%;
    }
    #skills h2, #about-me h2, #container-me .description-section h2, #portfolio h2, #experience > h2 {
        font-size: 3em;
        font-weight: bold;
    }
    #about-me > p{
        font-size: 1.2em;
    }
    #experience .cd-timeline-content h2{
        font-size: 2em;
    }
    #portfolio .jobs .job figure figcaption{
        bottom: 4px;
        background-color: rgba(0,0,0,.9);
    }
    #cd-timeline::before{
        display: none;
    }
    .cd-timeline-content{
        margin-left: 0;
    }
}

@media screen and (max-width:800px) {
    header{
        display: block;
        padding: 0;
    }
    #container-me{padding: 8em 1em 4em;}
      ul.topnav li:not(:first-child) {display: none;}
      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }
      ul.topnav.responsive {position: relative;}
      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      ul.topnav.responsive li {
        float: none;
        display: inline;
        margin: 0;
      }
      ul.topnav.responsive li a {
        display: block;
        text-align: left;
      }
      #portfolio .jobs .job{
          margin-bottom: 1em;
          width: 100%;
      }
}
